@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background-color: #ffffff;
  --primary-color: #a90047;
  --secondary-color: #8b1446;
  --text-color: #ffffff;
  --primary-light: #a9004788;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
